// fontes
$font-pt-serif: 'PT Serif', serif;
$font-inter: 'Inter', sans-serif;
$font-roboto: 'Roboto', sans-serif;

$fonts : ('pt-serif': $font-pt-serif,
    'inter': $font-inter,
    'roboto': $font-roboto,
);

//cores
$preto: #000000;
$branco: #ffffff;

$colors: (
    'preto': $preto,
    'branco': $branco,
);